<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" routerLink="/">
      <img src="assets/Images/logo-simple.png" alt="Logo" height="60px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu">MENU</a>
        </li>
        <li class="nav-item">
          <a class="nav-link login" routerLink="/login">LOG IN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link signup" routerLink="/registro">SIGN UP</a>
        </li>
      </ul>
    </div>
  </div>
</nav>