<section class="about d-flex align-items-center" id="about">
    <div class="container-fluid">
        <h1 class="about-tittle">Nosotros</h1>
        <div class="about-content">
            <p>
                En Corvacho's somos un restaurante de alta cocina comprometido con brindarte una experiencia gastronómica única. Con varios platos gourmet, creando sabores que conquistan el paladar desde el primer bocado. <br><br>
                Ya sea en nuestra sala, con su ambiente cálido y sofisticado, o desde la comodidad de tu hogar a través de nuestro servicio de domicilios, garantizamos la misma calidad, presentación y pasión en cada plato. Porque en Corvacho's, la excelencia no tiene dirección.
            </p>
            <img src="/Images/Edificio.jpeg" alt="Sede principal Corvachos" height="500px">
        </div>
    </div>
</section>
