<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="assets/Images/logo-simple.png" height="60px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">INICIO</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/menu">COMIDAS</a></li>
      </ul>
    </div>
  </div>
</nav>

<main>
  <div class="menu-grid">

    <!-- Por cada categoria -->
    <div *ngFor="let categoria of getCategorias()" class="categoria-seccion">

      <div class="categoria-header">
        <hr class="linea-divisoria">
        <h1 class="menu-text1">{{ categoria }}</h1>
        <hr class="linea-divisoria">
      </div>

      <section class="tarjetas">
        <article class="card" *ngFor="let producto of productosPorCategoria[categoria]">
          <img [src]="producto.imagen" class="card-img-top" [alt]="producto.nombre">
          <div class="card-body">
            <h5 class="card-title">{{ producto.nombre }}</h5>
            <p class="card-text">$ {{ producto.precio }}</p>
            <a [routerLink]="['/menu/detalle', producto.id]" class="btn btn-primary">Ver descripcion</a>
          </div>
        </article>
      </section>

    </div>

  </div>
</main>

<app-footer></app-footer>