<div class="body-producto-form">

  <!-- Contenido principal -->
  <div class="producto-form-contenedor">
    <h1 class="producto-form-titulo">{{ editando ? 'Editar Producto' : 'Nuevo Producto' }}</h1>

    <div class="producto-form-tarjeta">
      <form (ngSubmit)="guardar()">

        <app-producto-campos [producto]="producto" [categorias]="categorias"></app-producto-campos>

        <!-- Botones -->
        <div class="producto-form-acciones">
          <button type="submit" class="producto-form-btn-guardar">Guardar</button>
          <button type="button" class="producto-form-btn-cancelar" (click)="cancelar()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

</div>