<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error - Corvacho's</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style/styles.css}">
    <link rel="stylesheet" th:href="@{/style/menu.css}">
    <link rel="stylesheet" th:href="@{/style/error.css}">
</head>
<body>
        <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!--logo en navbar-->
            <a class="navbar-brand" href="/"><img th:src="@{/Images/logo-simple.png}" height="60px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <!--links navbar-->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                <a class="nav-link" href="#">BEBIDAS</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">COMIDAS</a>
                </li>
            </ul>
            </div>
        </div>
        </nav>
        <!-- Icono de error -->
    <div class="container-error">
        <div class="container text-center py-5">
        <div class="mb-4">
            <i class="bi bi-exclamation-triangle" style="font-size: 5rem; color: #cd9e46;"></i>
        </div>
        
        <!-- Titulo -->
        <h1 class="display-4" style="color: #cd9e46;">¡Ups! Algo salio mal</h1>
        
        <!-- Mensaje dinamico (viene del controlador) -->
        <p class="lead mb-4" th:text="${mensaje}">Mensaje de error</p>
        
        <!-- Boton para volver al inicio -->
        <a href="/" class="btn btn-primary">Volver al inicio</a>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>