<div class="body-editar">

  <!-- Contenido principal -->
  <div class="editar-contenedor">
    <h1 class="editar-titulo">{{ editando ? 'Editar Perfil' : 'Nuevo Cliente' }}</h1>

    <div class="editar-tarjeta">
      <form (ngSubmit)="guardar()">

        <app-cliente-campos [cliente]="cliente"></app-cliente-campos>

        <!-- Botones -->
        <div class="editar-acciones">
          <button type="submit" class="editar-btn editar-btn-guardar">Guardar</button>
          <button type="button" class="editar-btn editar-btn-cancelar" (click)="cancelar()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

</div>