<!--Página de menú-->
<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin Menu</title>
        <!-- Para bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
    crossorigin="anonymous">

    <link rel="stylesheet" href="../style/styles.css">
    <link rel="stylesheet" href="../style/menu.css">
</head>
<body>

    <main class="menu-grid">
    <h1 class="menu-text1">Platos Fuertes</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Categoría</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="producto : ${productos}">
                <td><img th:src="${producto.imagen}" th:alt="${producto.nombre}" height="80px"></td>
                <td th:text="${producto.descripcion}">Descripción</td>
                <td th:text="'$ ' + ${producto.precio}">Precio</td>
                <td th:text="${producto.categoria.nombre}">Categoría</td>
            </tr>
        </tbody>
    </table>

</main>





    

<!--Para Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" 
crossorigin="anonymous"></script>
</body>
</html>