<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="assets/Images/logo-simple.png" height="60px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">INICIO</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/menu">COMIDAS</a></li>
      </ul>
    </div>
  </div>
</nav>

<main class="detalle-container" *ngIf="producto">

  <section class="detalle-info">
    <a routerLink="/menu" class="btn-volver">&#8592; Volver al menu</a>
    <h1 class="detalle-nombre">{{ producto.nombre }}</h1>
    <p class="detalle-categoria">Categoria: <span>{{ producto.categoria.nombre }}</span></p>

    <h3 class="detalle-subtitulo">Descripcion</h3>
    <p>{{ producto.descripcion }}</p>

    <div class="adicionales-container">
      <h3 class="detalle-subtitulo">Precio</h3>
      <p class="detalle-precio">$ {{ producto.precio }}</p>
    </div>

  </section>

  <section class="detalle-imagen-container">
    <img [src]="producto.imagen" [alt]="producto.nombre" class="detalle-imagen">
  </section>

</main>

<app-footer></app-footer>